.card:hover > .article > .Link {
  display: block;
}

.card:hover > .article {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}

.card > .article {
  transition: background-image 0.5s ease;
}

.article > .Link {
  display: none;
}
