@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-box {
    @apply relative w-[1.4375rem] h-[1.4375rem];
  }
  .consult_label {
    @apply flex w-full justify-between items-center font-medium;
  }
  .consult_input {
    @apply sm:w-[28rem] h-10 border border-[#C5C5C5] border-solid rounded-md;
  }
}

:root {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #272928;
  font-size: 11px;

  @media screen and (min-width: 640px) {
    font-size: 13px;
  }

  @media screen and (min-width: 800px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

th,
td {
  border: 1px solid #484848;
}
table {
  border: 2px solid black;
}
